In [1]:
import pandas as pd

In [2]:
from IPython.display import display

In [8]:
# 이차원 numpy 배열 DataFrame 삽입
import numpy as np
my_2darray = np.array([[1,2,3],[4,5,6]])
display(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  4  5  6

In [9]:
# 딕셔너리 DataFrame 삽입
my_dict = {"a":['1','3'], "b":["1","2"], "c":["2","4"]}
display(pd.DataFrame(my_dict))

   a  b  c
0  1  1  2
1  3  2  4

In [10]:
# DataFrame을 DataFrame에 삽입
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
display(pd.DataFrame(my_df))

   A
0  4
1  5
2  6
3  7

**pd.Series**<br>
pandas에서 제공하는 Series는 index가 있는 1차원 배열과 같다.<br>
문자, 논리형, 숫자 모든 데이터 타입이 들어갈 수 있다.<br>
DataFrame의 한 칼럼, 한 칼럼이 Series이다.

In [12]:
# pandas Series를 DataFrame에 삽입
my_series = pd.Series({"United Kingdom":"London","India":"New Delhi","United Stsates":"Washington DC","Belgium":"Brussels"})
display(pd.DataFrame(my_series))

                            0
United Kingdom         London
India               New Delhi
United Stsates  Washington DC
Belgium              Brussels

**DataFrame**<br>
df.shape를 통해 dataframe의 row와 column의 수를 알 수 있다.<br>
.index를 통해 index를 알 수 있으며 len을 통해 dataframe의 길이(row의 갯수)를 알 수 있다.

In [16]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6]]))

In [17]:
display(df)

   0  1  2
0  1  2  3
1  4  5  6

In [14]:
print(len(df.index))

2

In [18]:
print(df.shape)

(2, 3)

In [20]:
print(list(df.columns))

[0, 1, 2]

In [22]:
print(list(df.index))

[0, 1]

**DataFrame에서 특정 칼럼이나 로우(인데스) 선택하기**<br>
실무에서 가장 많이 사용되는 부분으로 특정 칼럼이나 로우를 선택하여 그 값을 보는 것이다.<br>
column을 조회할 땐 df['column'], row를 조회할 땐 df.ix[index]를 사용한다.

In [25]:
df2 = pd.DataFrame({"A":[1,4,7],"B":[2,5,8],"C":[3,6,9]})
display(df2)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
# row(index) 선택
display(df2.iloc[0])
display(df2.loc[0])
display(df2.ix[0])

A    1
B    2
C    3
Name: 0, dtype: int64

A    1
B    2
C    3
Name: 0, dtype: int64

AttributeError: 'DataFrame' object has no attribute 'ix'